[submodule "home/.janus/tomorrow-night-vim/"]
  path = home/.janus/tomorrow-night-vim/
  url = git://github.com/mnoble/tomorrow-night-vim.git
[submodule "home/.janus/tomorrow-night-vim"]
	path = home/.janus/tomorrow-night-vim
	url = git://github.com/mnoble/tomorrow-night-vim.git
